server:
  port: ${SERVER_PORT:8080}
  http2:
    enabled: true

spring:
  application:
    name: gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: ${ALLOWED_ORIGINS:http://localhost:3000}
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: identity-service
          uri: ${IDENTITY_SERVICE:http://localhost:8081}
          predicates:
            - Path=/auth/**, /users/**

jwt:
  secret: ${JWT_SECRET_KEY:jwtSignSecretKey}

logging:
  level:
    org.springframework.cloud.gateway: ${CLOUD_GATEWAY_LOG_LEVEL:INFO}
    org.springframework.security: ${CLOUD_SECURITY_LOG_LEVEL:INFO}
    com.bqp.bqphy.gateway: ${LOG_LEVEL:INFO}
    root: ${LOG_LEVEL:INFO}